{% load static %}
{% load compress %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/semantic.min.css" %}>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block css %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - {{ PROJECT_NAME }}</title>
</head>

<body>
    <header>
        {% include "header.html" %}
    </header>

    {% if messages %}
    <div id="messages-container">
        {% for message in messages %}
        <div class="ui {{ message.tags }} message">
            <i class="close icon"></i>
            <div class="header">
            
            </div>
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <content>
        {% block content %}
        {% endblock %}
    </content>

    <footer class="ui vertical footer segment">
        {% include "footer.html" %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static "semantic/dist/semantic.min.js" %}"></script>
    <script type="module" src="{% static "js/base.js" %}"></script>

    {% block js %}
    {% endblock %}
</body>

</html>