{% load static %}
<link rel="stylesheet" href="{% static "css/footer.css" %}">

<div class="ui center aligned container">
    <img src="{% static "images/logo.png" %}" class="ui centered mini image">
    <div class="ui horizontal small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
    </div>
</div>

<script type="module" src="{% static "js/footer.js" %}"></script>