{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/settings.css' %}">
{% endblock %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<div class="ui container stackable center aligned grid">

    <div id="settings-container" class="ui center aligned grid">

        <div class="row" id="image-uploder">
            <form action="{% url "accounts:uploadUserImage" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="image_file">
                <input type="submit" value="submit" />
            </form>

            {% if userimage %}
                <p>Source: <a href="{{ userimage }}">{{ userimage }}</a></p>
                <img src="{{ userimage }}"></img>
            {% endif %}
        </div>

        <div class="row">
            Account settings:
            <a href="{% url 'accounts:delete' %}">Delete Account</a>
        </div>

    </div>

</div>

{% endblock %}

{% block js %}
<script type="module" src="{% static 'accounts/js/settings.js' %}"></script>
{% endblock %}