#form-container {
    width: 100%;
}

#create-form {
    width: 300px;
    display: table;
    margin: 10px auto;
    margin-bottom: 10px;
}

.errorlist.nonfield {
    padding-left: 16px !important;
}