{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}

<form id="login-form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form }}
  <button type="submit" id="login-btn">Login</button>
</form>

{% endblock %}

{% block js %}
<script type="module" src="{% static 'accounts/js/login.js' %}"></script>
{% endblock %}