{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/settings.css' %}">
{% endblock %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<div class="ui container stackable center aligned grid">

    <div id="settings-container" class="ui center aligned grid">

        <div class="row" id="image-uploder">
            <form class="ui form" id="user-image-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}             
                <div class="wrap" style="background-image: url('{{ userimage }}')";>
                    <div class="file-input custom">
                        <input id="file-input" name="user-image" type="file" accept="image/*" />
                        <div id="image-input-overlay">
                            <i class="upload icon"></i>
                            <p>Drag and drop image here or click to upload.</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            Account settings:
            <a href="{% url 'accounts:delete' %}">Delete Account</a>
        </div>

    </div>

</div>

{% endblock %}

{% block js %}
<script type="module" src="{% static 'accounts/js/settings.js' %}"></script>
{% endblock %}