{% load static %}
<link rel="stylesheet" href="{% static "css/header.css" %}">

<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="{% static "images/logo.png" %}" alt="Logo">
            {{ PROJECT_NAME }}
        </a>
        <a href="#" class="item">Link</a>

        <div class="right menu">
            {% if request.user.is_authenticated %}
            <div class="ui simple dropdown item">
                {% if request.user.userimage.src %}
                <img class="ui avatar image" src="{{ request.user.userimage.src }}">
                {% else %}
                <img class="ui avatar image" src="{% static "images/user-default.jpg" %}">
                {% endif %}
                <span id="menu-username">{{ request.user.username }}</span> <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{% url 'accounts:settings' %}">
                        <i class="cog icon"></i>Account Settings
                    </a>
                    <a href="{% url 'accounts:logout' %}" class="ui item">
                        <i class="sign-out icon"></i>Log Out
                    </a>
                </div>
            </div>
            {% else %}
            <a class="item" href="{% url 'accounts:login' %}">Log In</a>
            <a class="item" href="{% url 'accounts:create' %}">Create Account</a>
            {% endif %}
        </div>
    </div>
</div>

<script type="module" src="{% static "js/header.js" %}"></script>